.marginleft {
    margin-left: 3%;
}
.text-center {
    text-align: center!important;
}
.cardradius {
    border-radius: 25px!important;
}
.createboder {
    border: 1px solid #407bff!important;
}
.fnt15{font-size: 16px;}
.createsurveyimg {
    width: 295px;
    margin: 0 auto;
    margin-bottom: 5%;
}
@media (min-width: 768px)
{
.offset-md-1 {
    margin-left: 8.333333%;
}
}
.mtopp {
    margin-top: 8%;
}
.dflex{    display: flex;}
@media only screen and (min-width:320px) and (max-width:780px)
{
    .createsurveyimg{
        width:100%;
    }
    .dflex{    display: block;}
    .copyservey {
        width: 100%!important;
    }
    .marginleft {
        margin-left: 0%;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px)
{
    .copyservey{
        height: 122px;
        width: auto!important;
    }
    .createsurveyimg{       
    height: 124px;
    width: auto;
        }
}