<div class="mainbodydiv mtopp">
  <div class="row">
    <div class="col-md-12 dflex">
      <div class="col-md-5 col-xs-12 marginleft">
        <div class="card m0 text-center cardradius createboder">
          <div class="card-body">
            <div>
              <img
                src="../../../assets/img/createsurvery.png"
                class="createsurveyimg"
              />
            </div>
            <a routerLink="/survey/create-survey" routerLinkActive="active">
              <b class="text-center fnt15">Create New Survey</b></a
            >
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <div class="offset-md-1 mleft col-xs-12 col-md-5">
        <div class="card m0 text-center cardradius">
          <div class="card-body">
            <div>
              <img
                src="../../../assets/img/copyservey.png"
                class="copyservey"
              />
            </div>
            <b class="text-center fnt15">Copy From Existing Survey</b>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</div>
