<div class="dflex" *ngFor="let option of option">
    <div class="heightautos col-md-9">
      <textarea
        rows="3"
        cols="10"
        placeholder="max 100"
        class="textarea"
        [value]="option.optionText"
      ></textarea>
    </div>
    <div class="col-md-3 colm3">
      <div class="attached-closesd ">
        <img
          src="../../../../assets/img/icon-close.png"
          class=" btn btn-default attached-closebtn"
        />
      </div>
      <div class="attached-closesd ">
        <div class="upload-btn-wrapper">
          <button class="btn borderrt">
            <img src="../../../../assets/img/attached.png" class="pin" />
          </button>
          <input type="file" name="myfile" />
        </div>
      </div>
      <div class="attached-closesd ">
        <img src="../../../../assets/img/perfume.png" class="perfume-img" />
        
      </div>
    </div>
  </div>