<aside id="sidebar" class="elevation-4 active">
    <div id="sidetop">
        <img src="../../../assets/img/sidemenu-bg.png" class="sidemenubg1">
        <div class="ondivsidbar">
            <img src="../../../assets/img/logo.png" class="infologo">
            <button type="button" id="sidebarCollapse" style="border:none;background-color:transparent;">
                <img src="../../../assets/img/menuicon.png" class="togglebutton">
            </button>
            <ul class="side-nav" data-widget="treeview" role="menu" data-accordion="false">                     
                <li>
                    <a routerLink="/survey/dashboard" routerLinkActive="active">
                        <p class="listmenu">
                            <img src="../../../assets/img/home.png" class="menuicon">Home
                        </p>                     
                    </a>
                </li>
                <li>
                    <a routerLink="/survey/create-survey" routerLinkActive="active">
                        <p class="listmenu">
                            <img src="../../../assets/img/survey.png" class="menuicon">Create Survey
                        </p>
                    </a>
                </li>
                <li>
                    <a routerLink="/survey/view-survey" routerLinkActive="active">
                        <p class="listmenu">
                            <img src="../../../assets/img/view.png" class="menuicon">View Survey
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div style="clear:both;">
    <img src="../../../assets/img/side-bg.png" class="monsta">
    </div>

</aside>
