.pad0 {
	padding: 0
}

.main_img img {
	height: 100vh
}

.main_img .desktop_img {
	display: block;
	width: 85%
}

.main_img .mob_img, .moblogo_box {
	display: none;
}

.logo_box {
	position: absolute;
	top: 10%;
	z-index: 5;
	left: 52%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

.logo_box img {
	width: 250px;
}

.center_box {
	position: relative;
	height: 100vh;
	display: block;
}

.center_box.signup {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	height: inherit;
	margin-bottom: 30px;
}

.form_box {
	padding: inherit;
	width: 80%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.signup .form_box {
	position: inherit;
	top: auto;
	transform: inherit;
}

.otp .form_box {
	padding: inherit;
	width: 100%;
}

.form_box h1.title {
	font-size: 18px;
	font-weight: 700;
	position: relative;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	margin-bottom: 0px;
	margin-right: 10px;
	cursor: pointer;
}

.form_box h1.title.active {
	font-size: 28px;
	color: #078bd7;
}

.form_box h1>span {
	position: absolute;
	right: 0;
	color: #dcdbdb;
}

#form {
	margin-top: 20px;
}

.form-input {
	display: block;
	position: relative;
	margin: 0;
	margin-bottom: 20px;
}

.form-input1 input {
	background: #eef3f9
}

.form-input>.fa-mobile {
	font-size: 27px;
	right: 13px;
}

.form-input>i {
	position: absolute;
	font-size: 15px;
	top: 50%;
	right: 10px;
	color: #868e96;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%)
}

.form-input>.fa-eye-slash {
	color: #ccc
}

.form-input>.material-icons~input, .form-input>.material-icons~.label, .form-input>.material-icons~.underline {
	margin-left: 2.25rem;
	width: calc(100% - 2.25rem)
}

.form-input input {
	border: none;
	box-shadow: none;
	outline-style: none;
	width: 100%;
	padding: 24px 16px 12px 16px;
	border-radius: 10px!important;
	box-shadow: 0 4px 5px 0 #cfd5dc;
	height: 56px!important;
}

.form-input .label {
	padding: 0 5px
}

.form-input input~.label, .form-input select~.label {
	color: #868e96;
	font-size: 16px;
	margin: 0;
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 8px;
	transform: translate(0%, -50%);
	transition: top .2s, font .2s;
	z-index: 1;
	padding: 6px 5px;
	font-weight: 500
}

.form-input input~.underline, .form-input select~.underline {
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0
}

.form-input input:hover~.underline, .form-input input:focus~.underline, .form-input select:hover~.underline, .form-input select:focus~.underline {
	background-color: #078bd7
}

.form-input input:hover~.label, .form-input input:focus~.label {
	color: inherit;
}

.form-input input:focus~.underline, .form-input select:focus~.underline {
	height: 2px
}

.form-input input:focus~.label, .form-input input:valid~.label, .form-input select:focus~.label, .form-input select:valid~.label {
	top: 14px;
	font-size: 13px;
	left: 8px;
}

.form-input input:-webkit-autofill~.label {
	top: 0;
	font-size: 12px
}

.form-input.error_input .label {
	color: #868e96;
}

.form-input.success-input .label {
	color: #078bd7;
}

/**error**/

.error {
	margin: -10px 0px 10px 0px;
	font-weight: 700;
	color: #F33606;
	text-align: right;
	font-size: 13px;
}

.error_input input {
	background-color: #ffe1d9;
	color: #F33606;
}

.form-input.error_input>.fa {
	color: #F33606;
}

/******/

.forget {
	margin-top: 10px;
}

.forget a {
	color: #078bd7;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700
}

.btn_box {
	margin-top: 25px;
}

.btn_box .btn {
	font-size: 16px;
	padding: 8px 35px;
	box-shadow: 0 2px 9px -3px #555;
	margin-right: 20px;
	border-radius: 10px;
}

.btn_box .btn-primary {
	background-color: #078bd7
}

.footerbtn_box {
	margin-top: 85px;
}

.footerbtn_box button {
	background-color: #d4e6d9;
	width: 225px;
	display: inline-block;
	text-align: center;
	padding: 12px;
	font-weight: 500;
	color: #267e3e;
	font-size: 16px;
	text-decoration: none;
}

.footerbtn_box button:hover {
	background-color: #bbe6c7;
	color: #267e3e;
}

.back_btn {
	position: absolute;
	left: 0px;
	background-color: #fff;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	box-shadow: -1px 2px 9px 0 #a5a6a7;
	font-size: 44px;
}

.otp p {
	color: #3D4C58;
	font-size: 16px;
	margin-bottom: 19px;
	font-weight: 500
}

.otp input {
	width: 80px;
	height: 75px;
	padding: 0;
	margin-right: 25px;
	text-align: center;
	border: none;
	border-radius: 5px;
	box-shadow: -1px 2px 9px 0 #a5a6a7;
	font-size: 40px
}

.otp input:last-child {
	margin-right: 0
}

.otp input::-webkit-inner-spin-button, .otp input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0
}

.otp input:focus, .otp input.focus {
	outline: none;
	box-shadow: none;
	background-color: #eef3f9
}

.center_box.otp {
	justify-content: flex-start;
}

@media (min-width: 320px) and (max-width: 767.98px) {
	.logo_box img {
		width: 190px;
	}
	.main_img .desktop_img {
		width: 100%;
	}
	.main_img .mob_img {
		width: 250px;
	}
	.form_box {
		width: 100%
	}
	.form_box h1 {
		font-size: 24px
	}
	.label {
		white-space: inherit;
	}
	.btn_box {
		text-align: center;
		margin-top: 45px
	}
	.btn_box .btn {
		font-size: 16px;
		padding: 8px 22px;
		margin: 0 10px
	}
	#form {
		margin-top: 20px
	}
	.footerbtn_box {
		margin-top: 50px
	}
	.footerbtn_box button {
		margin-top: 20px
	}
	.center_box {
		position: relative;
		height: 80vh;
		display: block;
		margin-bottom: 30px;
	}
	.otp input {
		font-size: 22px;
		width: 45px;
		height: 40px;
		margin-right: 12px;
	}
	.back_btn {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 34px;
	}
	.otp .form_box {
		width: 100%;
		position: inherit;
		top: inherit;
		transform: inherit;
	}
	.center_box.otp {
		height: auto;
	}
	.center_box.email-verfication, .center_box.forgot-password {
		height: auto;
	}
	.email-verfication .form_box, .forgot-password .form_box {
		position: inherit;
		top: inherit;
		transform: inherit;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.main_img .desktop_img {
		width: 100%;
	}
	.form_box {
		width: 100%;
		position: inherit;
		top: inherit;
		transform: inherit;
	}
	.center_box {
		position: relative;
		height: auto;
		display: block;
		margin-bottom: 30px;
	}
	body {
		overflow: inherit;
		height: inherit;
	}
	.back_btn {
		position: relative;
		left: 0;
		top: 5px;
		display: inline-block
	}
	.otp input {
		width: 85px;
		height: 75px;
		font-size: 26px;
	}
	.btn_box {
		margin-bottom: 30px;
	}
}

.center_box {
	display: block;
}

.moblogo_box img {
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
}

.main_img img {
	height: inherit
}

.footerbtn_box button {
	width: 100%
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.form_box {
		width: 100%;
	}
	.main_img img {
		height: inherit
	}
	.footerbtn_box {
		margin-bottom: 20px;
		margin-top: 60px;
	}
	.footerbtn_box button {
		font-size: inherit;
		width: auto;
		margin: 0
	}
}

.radio-tile-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.radio-tile-group .input-container {
	position: relative;
	width: 49%;
	margin: 0px;
}

.radio-tile-group .input-container .radio-button {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	padding: 16px;
	transition: transform 300ms ease;
	box-shadow: 0 4px 5px 0 #cfd5dc;
}

.radio-tile-group .input-container .icon svg {
	fill: #079ad9;
	width: 3rem;
	height: 3rem;
}

.radio-tile-group .input-container .radio-tile-label {
	text-align: center;
	text-transform: capitalize;
	letter-spacing: inherit;
	margin-bottom: 0px;
	color: #868e96;
	font-size: 16px;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile {
	color: #079ad9;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile .icon svg {
	fill: white;
	background-color: #fff;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile .radio-tile-label {
	color: #079ad9;
	background-color: #fff;
}

.radio-tile-group .input-container:first-child {
	margin-right: 10px;
}

.radio-tile-group .input-container .fa {
	position: absolute;
	font-size: 15px;
	top: 50%;
	right: 10px;
	color: #868e96;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile i {
	color: #078bd7;
}

.success-input i {
	color: #078bd7;
}

.gj-datepicker .input-group-append {
	position: absolute;
	right: 6px;
	top: 10px;
}

.gj-datepicker .input-group-append button {
	border: none;
}

:root {
	--input-padding-x: .75rem;
	--input-padding-y: .75rem;
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group>input, .form-label-group>label {
	padding: var(--input-padding-y) var(--input-padding-x);
}

.form-control:focus {
	box-shadow: 0 4px 5px 0 #cfd5dc;
}

.form-label-group>label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 2.2;
	color: #868e96;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
	font-size: 16px;
}

.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #868e96;
	font-weight: 700;
}